page-newcart {
	ion-page.modal {
    	padding: 30px;
    	background: rgba(0,0,0,.4);
    	position: absolute;
		top: 80px;
		left: 45px;
		display: block;
		width: 70%;
		height: 62%;



		color: Black;
		position: absolute !important;
		width: 600px !important;
		height: 570px !important;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		margin: auto !important;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px !important;
		border-color: black;
		overflow: hidden !important;
	}

	.myModal {

	}
}
