// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  plants:     #5c821a,
  strawberry: #cb0000,
  light:      #f4f4f4,
  dark:       #222,
  blueblack:  #021C1E,
  cadetblue:  #004445,
  forestgreen:#2E4600,
  crimson:    #8d230f,
  overcast:   #f1f1f2,
  warmgrey:   #bcbabe,

  bark:       #2e2300,
  seaweed:    #6e6702,
  bronze:     #c05805,
  goldenrod:  #db9501,

  //faded

  fadednavy:  #444c5c,
  punch:      #ce5a57,
  oceanbreeze:#78a5a3,
  warm:       #e1b16a
);

$alert-input-placeholder-color: #2E4600;

$alert-md-background-color:#2E4600;
$alert-md-button-background-color:#2E4600;
$alert-md-button-background-color-activated:#2E4600;

//alert ios
$alert-ios-background:  #ffffff;
$alert-ios-button-background-color: #795548;
$alert-ios-button-background-color-activated: #BCAAA4;

//alert android


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
